/* Container styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
  }
  .main{
    background-color: #111;
  }
  html{
    width: 100%;
  }
  header{
    padding: 5px 100px;
     display: flex;
    justify-content: space-between;
     align-items: center;
    position: sticky;
    top: 0;
    background-color: #111;

  }
  header img{
    width: 120px;
    height: 120px;
  }
  header button{
    width: 120px;
    height: 35px;
    background-color: rgb(45, 173, 252);
    border: none;
    border-radius: 5px;
  }
  header button a{
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
  }

  @media (max-width:600px) {
    header{
      padding: 0px 10px;
      display: flex;
     justify-content: space-between;
      align-items: center;
     position: sticky;
     top: 0; 
     
  
    }
    header img{
      width: 100px;
      height: 100px;
    }
    header button{
      width: 80px;
      height: 30px;
      background-color: rgb(45, 173, 252);
      border: none;
      border-radius: 5px;
    }

  }
  /* Container styling */

  /* Styling for rows of images */
  .image-row {
    display: flex;
    justify-content: space-between; /* Spread images in row */
    margin-top: 100px;
    padding: 0 10%; /* Padding to prevent images from touching edges */
    padding-bottom: 10px;
  }
  
  /* Image container styling */
  .image-container {
    flex:3; /* Allow the container to grow */
    display: flex;
    justify-content: center; /* Center image in the container */
    margin-top: 300px;
    transition: all linear .3s;
    
  }
  
  
  /* Image styling */
  .scroll-image {
    width: 150px;
    height: 150px;
    transition: all 0.5s ease; /* For smoothness */
    border-radius: 15px;
    margin: 10px;
    margin-bottom: 10px;
  }
  @media (max-width:800px) {
    .scroll-image {
      width: 75px;
      height: 75px;
      transition: all 0.5s ease; /* For smoothness */
      border-radius: 15px;
      margin: 2px;
      margin-bottom: 10px;
    }
  }
  /* Specific styles for left and right rows */
  .image-row.left {
    justify-content: left; /* Align images to the left */
  }
  
  .image-row.right {
    justify-content: flex-start; /* Align images to the right */
  }
  .first-page{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 200px;
    display: flex;  
    justify-content: center;
  }
  .tilt-box h1{
    color: white;
    font-size: 3rem;
    line-height: 10px;
  
  }
    
    
  .tilt-box  h3{
    color: white;
  }
footer{
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
footer .media  a{
  text-decoration: none;
  font-size: 30px;
  color: rgb(45, 173,252);
  
}

  #element{
    color:rgb(45, 173,252) ;
    z-index: 10;
  }
  .tilt-box h2{
    color:  white;
    width: 100%;
    
  } 
  .tilt-box {
    width: 90vw;
    height: 500px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 24px;
    z-index: 10;
  }
  @media (max-width:700px) {
    .tilt-box {
      width: 90vw;
      height: 500px;
      display: flex;
      justify-content: center;
      color: white;
      font-size: 18px;
    }
  }
  #center{
    width:500px;
    line-height: 20px;
  }